# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore local backups and large bundles
backups/

# Ignore build artifacts and executable distributions
dist/
bin/
*.exe
*.bundle
